**VARIABLES**

**Initialisation**

In [1]:
# Initialisation de quelques variables 
a = 5
b = 5.0
c = "Bonjour"
d = True

**Valeurs et types**

In [2]:
# Affichage de la valeur et du type 
print(a)
type(a)

5

int

In [3]:
print(b)
type(b)

5.0

float

In [4]:
print(c)
type(c)

Bonjour

str

In [5]:
print(d)
type(d)

True

bool

**ARRAYS/LISTS**

**Initialisation**

In [6]:
# Initialisation d'une liste de voiture 
cars = ["Ford", "Honda", "BMW"]

In [7]:
# Affichage du nombre d'elements grace a la fonction len()
print(cars)
len(cars)

['Ford', 'Honda', 'BMW']

3

**Operations**

In [8]:
# Acces a certains elements de la liste 
print(cars[0])
print(cars[2])

Ford
BMW

In [9]:
# Ajout d'un element en fin de liste grace a la fonction append()
cars.append("Renault")

In [10]:
print(cars)

['Ford', 'Honda', 'BMW', 'Renault']

In [11]:
# Insertion d'un element en 3e position 
cars.insert(2, "Ferrari")

In [12]:
print(cars)

['Ford', 'Honda', 'Ferrari', 'BMW', 'Renault']

In [13]:
# Retrait de l'element en 2e position
cars.pop(1)

'Honda'

In [14]:
print(cars)

['Ford', 'Ferrari', 'BMW', 'Renault']

In [15]:
# Retrait de l'element "BMW"
cars.remove("BMW")

In [16]:
print(cars)

['Ford', 'Ferrari', 'Renault']

**Multiple dimensions**

In [17]:
# Arrays emboites
tableau = [[1,2,3],[4,5,6]]

In [18]:
print(tableau)

[[1, 2, 3], [4, 5, 6]]

In [19]:
print(tableau[0])

[1, 2, 3]

In [20]:
print(tableau[0][1])

2

In [21]:
print(tableau[1][0])

4

**DICTIONNAIRES**

**Initialisation**

In [22]:
# Dictionnaire vide qu'on remplit element par element
tacos = {}
tacos["nom"] = "Tacos"
tacos["sans_gluten"] = True 
tacos["from"] = "Mexique"
tacos["prix"] = "$"

In [23]:
# Dictionnaire qu'on initialise d'un coup 
soupe_oignon = {"nom" : "Soupe a l'oignon", "sans_gluten" : False, "from" : "France", "prix": "$$"}

**Elements**

In [24]:
# Acces a certains elements 
print(tacos)
print(tacos["sans_gluten"])
print(soupe_oignon["from"])

{'nom': 'Tacos', 'sans_gluten': True, 'from': 'Mexique', 'prix': '$'}
True
France

**Liste de dictionnaires**

In [25]:
# Liste remplie avec les dictionnaires precedents 
plats = [tacos, soupe_oignon]

In [26]:
print(plats)

[{'nom': 'Tacos', 'sans_gluten': True, 'from': 'Mexique', 'prix': '$'}, {'nom': "Soupe a l'oignon", 'sans_gluten': False, 'from': 'France', 'prix': '$$'}]

**EXECUTION CONDITIONNELLE**

**Expressions logiques**

In [27]:
# Evaluation de l'egalite
1 == 2

False

In [28]:
# Evaluation de l'inegalite 
1 < 2

True

In [29]:
# Evaluation du type
type(1) is int

True

In [30]:
# Evaluaton de la presence dans une liste
instruments = ["guitar", "drums", "bass"]
"guitar" in instruments

True

In [31]:
"trombone" in instruments

False

In [32]:
# L'evaluation d'une valeur logique peut etre assignee a une variabe 
a = (1 != 2)
print(a)

True

In [33]:
# La negation s'exprime avec "not"
b = not a 
print(b)

False

In [34]:
# On peut combiner des expressions logiques 
# Ici on evalue b ET a avec "and"; retourne True seulement si a et b valent True
b and a

False

In [35]:
# Ici on evalue b OU a avec "or" ; retourne False seulement si a et b valent False
b or a

True

**Execution conditionnelle**

In [36]:
a = 1
b = 2
if a < b:
    print("a plus petit que b")
elif a > b:
    print("a plus grand que a")
else:
    print("a egal a b")

a plus petit que b

In [37]:
a = 1
b = a
if a < b:
    print("a plus petit que b")
elif a > b:
    print("a plus grand que a")
else:
    print("a egal a b")

a egal a b

**ITERATIONS**

**FOR LOOPS**

**Sur un array**

In [38]:
# Execute pour chaque element du array
# La valeur de l'element est mise dans la variable fruit pour la duree d'une iteration. 
# Remarquez qu'on peut joindre deux strings distincts avec le + 
fruits = ["pommes", "oranges", "mangues"]
for fruit in fruits:
    print("J'aime bien les " + fruit)

J'aime bien les pommes
J'aime bien les oranges
J'aime bien les mangues

**Sur un dictionnaire**

In [39]:
# On itere sur les cles du dictionnaire. On accede ensuite aux valeurs associes de la maniere usuelle. 
# Remarquez qu'il faut convertir le booleen False en string avec la fonction str() pour le joindre a un autre string avec +. 
soupe_oignon = {"nom" : "Soupe a l'oignon", "sans_gluten" : False, "from" : "France", "prix": "$$"}
for key in soupe_oignon:
    print(key + ": " + str(soupe_oignon[key]))

nom: Soupe a l'oignon
sans_gluten: False
from: France
prix: $$

**Sur un range**

In [40]:
# La fonction range() retourne les nombres entiers dans l'intervalle specifie. 
# Par defaut, l'intervalle part a 0
# somme += i est equivalent a somme = somme + i, i.e nous ajoutons i a valeur de somme. 
somme = 0
for i in range(6):
    print("Dans la boucle!")
    print("La somme partielle vaut: " + str(somme))
    somme += i

print("Sorti de la boucle!")
print("La somme totale vaut " + str(somme))

Dans la boucle!
La somme partielle vaut: 0
Dans la boucle!
La somme partielle vaut: 0
Dans la boucle!
La somme partielle vaut: 1
Dans la boucle!
La somme partielle vaut: 3
Dans la boucle!
La somme partielle vaut: 6
Dans la boucle!
La somme partielle vaut: 10
Sorti de la boucle!
La somme totale vaut 15

In [41]:
# On n'est pas force de partir le range a 0
for i in range(257, 264):
    print(i)

257
258
259
260
261
262
263

**Loops emboites**

In [42]:
# On peut emboiter un nombre arbitraire de boucles for 
ligne = [0,1,2]
colonne = [0,1,2,3]

for i in ligne:
    print("ligne " + str(i))
    for j in colonne:
        print("colonne " + str(j))

ligne 0
colonne 0
colonne 1
colonne 2
colonne 3
ligne 1
colonne 0
colonne 1
colonne 2
colonne 3
ligne 2
colonne 0
colonne 1
colonne 2
colonne 3

**WHILE LOOPS**

In [43]:
# On somme des entiers consecutifs tant que la somme ne depasse pas 150 
i = 0
somme = 0
while somme < 150:
    print("Dans la boucle!")
    print("La somme partielle vaut: " + str(somme))
    somme += i
    i += 1

print("Sorti de la boucle!")
print("La somme finale vaut: " + str(somme))

Dans la boucle!
La somme partielle vaut: 0
Dans la boucle!
La somme partielle vaut: 0
Dans la boucle!
La somme partielle vaut: 1
Dans la boucle!
La somme partielle vaut: 3
Dans la boucle!
La somme partielle vaut: 6
Dans la boucle!
La somme partielle vaut: 10
Dans la boucle!
La somme partielle vaut: 15
Dans la boucle!
La somme partielle vaut: 21
Dans la boucle!
La somme partielle vaut: 28
Dans la boucle!
La somme partielle vaut: 36
Dans la boucle!
La somme partielle vaut: 45
Dans la boucle!
La somme partielle vaut: 55
Dans la boucle!
La somme partielle vaut: 66
Dans la boucle!
La somme partielle vaut: 78
Dans la boucle!
La somme partielle vaut: 91
Dans la boucle!
La somme partielle vaut: 105
Dans la boucle!
La somme partielle vaut: 120
Dans la boucle!
La somme partielle vaut: 136
Sorti de la boucle!
La somme finale vaut: 153

**CONDITIONS D'ARRET ou de SAUT**

In [44]:
# On peut faire une boucle qui se repetera de maniere arbitrairement longue, et y inclure une condition d'arret
# L'exemple precedent peut etre exprime ainsi:
i = 0
somme = 0
# True sera toujours vrai, et il faut donc inclure une condition de sortie dans la boucle
while True:
    print("Dans la boucle!")
    print("La somme partielle vaut: " + str(somme))
    
    somme += i
    i += 1
    
    if somme > 150:
        # break met fin a la boucle
        break
        
print("Sorti de la boucle!")
print("La somme finale vaut: " + str(somme))

Dans la boucle!
La somme partielle vaut: 0
Dans la boucle!
La somme partielle vaut: 0
Dans la boucle!
La somme partielle vaut: 1
Dans la boucle!
La somme partielle vaut: 3
Dans la boucle!
La somme partielle vaut: 6
Dans la boucle!
La somme partielle vaut: 10
Dans la boucle!
La somme partielle vaut: 15
Dans la boucle!
La somme partielle vaut: 21
Dans la boucle!
La somme partielle vaut: 28
Dans la boucle!
La somme partielle vaut: 36
Dans la boucle!
La somme partielle vaut: 45
Dans la boucle!
La somme partielle vaut: 55
Dans la boucle!
La somme partielle vaut: 66
Dans la boucle!
La somme partielle vaut: 78
Dans la boucle!
La somme partielle vaut: 91
Dans la boucle!
La somme partielle vaut: 105
Dans la boucle!
La somme partielle vaut: 120
Dans la boucle!
La somme partielle vaut: 136
Sorti de la boucle!
La somme finale vaut: 153

In [45]:
# On peut specifier une categorie d'exception pour laquelle le code de la boucle ne s'executera pas.
# Elle prend la forme de la commande pass
# La boucle suivante n'imprime pas que les nombres impairs a l'ecran. 
i = 1
while True:
    # % est l'operateur modulo; il retourne le reste de la division entiere de i par 2. i%2 == 0 implique donc que i est pair. 
    if i%2 == 0:
        pass
    else:
        print(i)
    i += 1
    
    if i > 20:
        break

1
3
5
7
9
11
13
15
17
19

**FONCTIONS**

In [46]:
# Fonction simple ne retournant pas de valeur et ne prenant pas d'argument
def simple_function():
    print("Felicitations! Vous avez appele une fonction simple")
    
# Fonction qui prend deux argments et affiche le resultat de la multiplication
def multiplication(x, y):
    print(x * y)
    
# Fonction qui porend deux arguments et retourne le resultat de la multiplication
def multiplication2(x, y):
    return(x * y)

In [47]:
simple_function()

Felicitations! Vous avez appele une fonction simple

In [48]:
multiplication(1567, 2678)

4196426

In [49]:
# On met le resultat de retour dans une variable
result = multiplication2(1234, 5678)
print(result)

7006652

**RECURSION**

In [50]:
def factorial(n):
    if n <= 1:
        return 1
    else:
        return n*factorial(n-1)

In [51]:
result  = factorial(10)
print(result)

3628800

**CLASSES et OBJETS**

In [52]:
# Classe 'chien', qui possede des variables nom, age, race, couleur, humeur.
# Deux fonctions: une fonction "see_mailman" qui change l'humeur a "angry" et qui appelle l'autre fonction, "bark", qui imprime un message a l'ecran. 

class chien:
    # Une classe possede toujours une fonction init, qui initialise les variables. 
    def __init__(self, nom, age, race, couleur, humeur):
        # Un objet refere a lui-meme avec le prefixe "self"
        self.nom = nom
        self.age = age
        self.couleur = couleur
        self.humeur = humeur 
    
    # Les fonctions prennent l'objet lui-meme en argument 
    def bark(self):
        print("WOOF! WOOF!")
    
    def see_mailman(self):
        self.humeur = "angry"
        self.bark()

In [53]:
# Initialisation d'un objet de la classe chien

bambino = chien("Bambino", 7, "bouvier", "gris", "content")

In [54]:
# On accede a un element de l'objet avec la forme : objet.element 
bambino.humeur

'content'

In [55]:
bambino.bark()

WOOF! WOOF!

In [56]:
bambino.see_mailman()

WOOF! WOOF!

In [57]:
bambino.humeur

'angry'